@model IEnumerable<knjiznica.Models.Knjiga>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.knjigaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.naslov)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.izdavacID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.broj_stranica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cijena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.godina_izdanja)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@Html.DisplayFor(modelItem => item.knjigaID)</td>
    <td>@Html.DisplayFor(modelItem => item.naslov)</td>
    <td>@Html.DisplayFor(modelItem => item.izdavacID)</td>
    <td>@Html.DisplayFor(modelItem => item.broj_stranica)</td>
    <td>@Html.DisplayFor(modelItem => item.cijena)</td>
    <td>@Html.DisplayFor(modelItem => item.godina_izdanja)</td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { knjigaID = item.knjigaID }) |
        @Html.ActionLink("Delete", "Delete", new { knjigaID = item.knjigaID })
    </td>
</tr>
    }
</table>